<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (menu(); as menuRef) {
      <div>
        <h2 data-cy="menuDetailsHeading"><span>Menu</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>Id</span></dt>
          <dd>
            <span>{{ menuRef.id }}</span>
          </dd>
          <dt><span>Nom</span></dt>
          <dd>
            <span>{{ menuRef.nom }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ menuRef.description }}</span>
          </dd>
          <dt><span>Etablissement Ref</span></dt>
          <dd>
            <span>{{ menuRef.etablissementRef }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/menu', menuRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
