<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (modePaiement(); as modePaiementRef) {
      <div>
        <h2 data-cy="modePaiementDetailsHeading"><span>Mode Paiement</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>Id</span></dt>
          <dd>
            <span>{{ modePaiementRef.id }}</span>
          </dd>
          <dt><span>Nom</span></dt>
          <dd>
            <span>{{ modePaiementRef.nom }}</span>
          </dd>
          <dt><span>Nom Court</span></dt>
          <dd>
            <span>{{ modePaiementRef.nomCourt }}</span>
          </dd>
          <dt><span>Nom Mstr</span></dt>
          <dd>
            <span>{{ modePaiementRef.nomMstr }}</span>
          </dd>
          <dt><span>Type</span></dt>
          <dd>
            <span>{{ modePaiementRef.type }}</span>
          </dd>
          <dt><span>Etablissement Ref</span></dt>
          <dd>
            <span>{{ modePaiementRef.etablissementRef }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/mode-paiement', modePaiementRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
