<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (hier(); as hierRef) {
      <div>
        <h2 data-cy="hierDetailsHeading"><span>Hier</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>Id</span></dt>
          <dd>
            <span>{{ hierRef.id }}</span>
          </dd>
          <dt><span>Nom</span></dt>
          <dd>
            <span>{{ hierRef.nom }}</span>
          </dd>
          <dt><span>Parent Hier Id</span></dt>
          <dd>
            <span>{{ hierRef.parentHierId }}</span>
          </dd>
          <dt><span>Unit Id</span></dt>
          <dd>
            <span>{{ hierRef.unitId }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/hier', hierRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
