<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (remise(); as remiseRef) {
      <div>
        <h2 data-cy="remiseDetailsHeading"><span>Remise</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>Id</span></dt>
          <dd>
            <span>{{ remiseRef.id }}</span>
          </dd>
          <dt><span>Nom</span></dt>
          <dd>
            <span>{{ remiseRef.nom }}</span>
          </dd>
          <dt><span>Nom Court</span></dt>
          <dd>
            <span>{{ remiseRef.nomCourt }}</span>
          </dd>
          <dt><span>Nom Mstr</span></dt>
          <dd>
            <span>{{ remiseRef.nomMstr }}</span>
          </dd>
          <dt><span>Type Value</span></dt>
          <dd>
            <span>{{ remiseRef.typeValue }}</span>
          </dd>
          <dt><span>Value</span></dt>
          <dd>
            <span>{{ remiseRef.value }}</span>
          </dd>
          <dt><span>Point De Vente Ref</span></dt>
          <dd>
            <span>{{ remiseRef.pointDeVenteRef }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/remise', remiseRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
